<div id="<%= dom_id team %>">
  <p>
    <%= link_to team.name, team_path(team) %>
    <%= button_to "Delete", team_path(team), method: :delete %>
    <%= link_to "Edit", edit_team_path(team) %>
  </p>
</div>
