<header>
  <h1>Teams</h1>
</header>

<main>
  <section>
  <%= turbo_frame_tag Team.new do %>
      <%= link_to "New team", new_team_path %>
  <% end %>
  </section>

  <article>
    <%= turbo_frame_tag "teams" do %>
      <%= render @teams %>
    <% end %>
  </article>
</main>
